:root{
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color:#ffffff;
    --logo-color:#000000;
    --background-hero-color:#2F303A;
    --section-command-color:#F5F4FA;
    --address-contact-color:rgba(255, 255, 255, 0.6);
    --header-border-color: #ECECEC;
    --portfolio-card-border-color: #EEEEEE;
    --icon-color: #AFB1B8;
    --top-text: rgba(33, 150, 243, 0.9);
    --work-top-text:rgba(47, 48, 58, 0.8);
    --modal:rgba(0, 0, 0, 0.2);
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --footer-form-btn-hover: #188CE8;
    --footer-form-email-color: rgba(255, 255, 255, 0.6);
}

body{
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

    margin: 0;

    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
textarea{
    resize: none;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.item {
    margin-right: 30px;
}
.item:last-child {
    margin-right: 0px;
}
.section-tittle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    margin-bottom: 50px;

    color: var(--tittle-text-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


/* -----------------HEADER----------------- */
.header {
    border: 1px solid var(--header-border-color);
}

/* logo */
.header-logo{
    color: var(--accent-color);

    text-decoration: none;
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;


}
.header-logo-two {
    color: var(--logo-color);
    
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.container>.header-nav{
    display: flex;
    align-items: center;
}
.header>.container{
    display: flex;
    align-items: center;
}
/* nav */
/* .main-nav {
    display: flex;
    align-items: center;
} */

.header-item{
    margin-right: 50px;
    display: block;
}
.header-item:last-child {
    margin-right: 0px;
}
.header-list,
.header-auth-nav{
    display: flex;
   
}
.header-link,
.header-link-current {
    color: var(--tittle-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;  
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: color var(--animation);
}
.header-auth-nav{
    margin-left: auto;
}
.header-auth-nav-info {
    color: var(--primary-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color var(--animation);
}
.header-link-current{
    color: var(--accent-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
}
.header-list :hover,
.header-list :focus{
    color: var(--accent-color);
}

.header-auth-nav :hover ,
.header-auth-nav :focus {
    color:var(--accent-color);
}
.header-auth-nav-info .header-icon{
    fill: currentColor;
}
.header-link-current.active::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
}

.header-icon{
    margin-right: 10px;
}
/* -----------------HERO----------------- */
.hero-tittle{
    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
}
.hero .container {
    width: 696px;
}
.hero{
    background-color: var(--background-hero-color);
    text-align: center;
    height: 600px;
    max-width: 1600px;
    padding-bottom: 200px;
    padding-top: 200px;
    margin: auto;
    
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero_img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
}
.button-primary{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    cursor:pointer;
    border: 1px solid transparent;
    border-radius: 4px;

    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    box-shadow: 0px 4px 4px rgba(66, 43, 43, 0.15);
}

/* -----------------PERSONS----------------- */
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
/* .section-persons{
    padding-top: 94px;
    padding-bottom: 94px;
} */

.persons-tittle {
    color: var(--tittle-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;  
}
.persons-text {
    font-size: 14px;
    line-height: 1.71;
}
.persons-list{
    display: flex;
}
.persons-item{
    width: 270px;
    padding-bottom: 0px;
}
.persons-social-item{
    width: 270px;
    height: 120px;
    background: var(--section-command-color);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.persons-social-item + .persons-social-item{
    margin-left: 30px;
}
/* -----------------WORK----------------- */
.section-work{
    padding-bottom: 94px;
}
.work-item{
    width: 370px;
    position: relative;
}
.work-list{
    display: flex;
}
.work-top-text{
    color: var(--primary-white-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: var(--work-top-text);
    
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* -----------------COMMAND----------------- */
.command-list {
    display: flex;
}
.section-command {
    background: var(--section-command-color);
}
.command-item{
    width: 270px;
    background-color:var(--portfolio-card-border-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
} 
.command-people {
    color: var(--tittle-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 10px;
}
.command-special{
    font-size: 16px;
    line-height: 1.8;
    text-align: center;

    margin-bottom: 16px;
}
.command-card {
 padding-top: 30px;
 padding-bottom: 30px;
 padding-left: 32px;
 padding-right: 32px;
 text-align: center;

 background-color: var(--primary-white-color);
}
.command-social-list{
    display: flex;
    justify-content: center;
}
.command-social-item {
    width: 44px;
    height: 44px;
    
}
.command-social-link{
    color: var(--icon-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-white-color);
    transition: background-color var(--animation), color var(--animation);
}
.command-social-item + .command-social-item{
    margin-left: 10px;
}
.command-social-icon{
    fill: currentColor;
}
.command-social-link:hover,
.command-social-link:focus{
    background-color: var(--accent-color);
}
.command-social-link:hover .command-social-icon,
.command-social-link:focus .command-social-icon{
    fill: var(--primary-white-color);
}
/* -----------------CLIENT----------------- */

.client-social-item{
    width: 170px;
    height: 92px;
}
.client-social-link{
    color: var(--icon-color);
    width: 100%;
    height: 100%;
    background: var(--primary-white-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:background-color var(--animation), color var(--animation)  ;
}
.client-social-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-social-item + .client-social-item{
    margin-left: 30px;
    
}
.client-icon{
    width: 106px;
    height: 60px;
    fill: currentColor;  
}

.client-social-link:hover,
.client-social-link:focus{
    border:1px solid var(--accent-color);
    border-radius: 4px;
    background-color: var(--primary-white-color);
}
.client-social-link:hover .client-icon,
.client-social-link:focus .client-icon{
    fill: var(--accent-color);  
}


/* -----------------PORTFOLIO----------------- */


/* -----------------BUTTON----------------- */
.button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn-item {
    margin-left: 8px;
}
.button-link{
   color: var(--tittle-text-color);
    background-color: var(--section-command-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor:pointer;

    padding: 6px 22px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 73px; 
    text-align: center;
    transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
    
    
}
.button-link-current,
.button-link:hover,
.button-link:focus{
    background-color: var(--accent-color);
    color: var(--primary-white-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    display: inline-block;
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 73px; 
    cursor: pointer;
    box-shadow: 1px 4px 6px 0px #00000029, 
    0px 4px 4px 0px #0000000F,
    0px 1px 1px 0px #0000001F;

}

/* -----------------PROJECT----------------- */
.project-list {
    display: flex;
    flex-wrap: wrap;
}
.project-link{
    display: block;
    text-decoration: none;
    list-style: none;
    font-style: inherit;
    transition: box-shadow var(--animation);

    
}
.project-item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    
}

.project-link:hover,
.project-link:focus {
    cursor: pointer;
    box-shadow: 1px 4px 6px 0px #00000029, 
    0px 4px 4px 0px #0000000F,
    0px 1px 1px 0px #0000001F;
    
}
.project-link:hover .project-top-text,
.project-link:focus .project-top-text{
    transform: translateY(0);
}

.project-item:nth-child(3n) {
    margin-right: 0px;
}
.project-item:nth-last-child(-n+3){
    margin-bottom: 0px;
}

.project-tittle{
    color: var(--tittle-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    font-family: Raleway, cursive ;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}

.project-item-wrap{
    position: relative;
    overflow: hidden;
    
}
.project-top-text{
    position: absolute;
    color: var(--primary-white-color);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding-left: 24px;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    background-color: var(--top-text);
    width: 370px;
    height: 294px;
    transform: translateY(100%);
    transition: transform var(--animation);
    overflow: auto;

    position: absolute;
    top: 0;
    left: 0;
    
    
}
.portfolio-card {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 20px;
    border: 1px solid #EEEEEE;
}
/* -----------------FOOTER----------------- */
.footer {
    background-color: var(--background-hero-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    color: var(--accent-color);

    text-decoration: none;
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
    display: block;
}
.logo-footer-two {
    color:var(--primary-white-color);

    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
   
}

.address-list{
    color: var(--primary-white-color);

    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    font-style: initial;

    margin-bottom: 0px;
}
.address-item-contact{
    color: var(--address-contact-color);

    text-decoration: none;
    transition: color var(--animation);
}
.address-item-contact:hover,
.address-item-contact:focus {
    color: var(--accent-color);
}

.address-item {
    margin-bottom: 9px;
}
.address-item:last-child {
    margin-bottom: 0px;
}
.footer-thumb{
    margin-right: 60px;
}
.footer>.container{
    display: flex;
    align-items: baseline;
}
        
     
/* .footer-left-container{
    display: flex;
    align-items: baseline;
    
} */
/* .container .footer{
    display: flex;
    align-items: baseline;
    
} */
.footer-icon{
    margin-right: auto;
}
.footer-icon-tittle{
    margin-bottom: 20px;
    
    text-transform: uppercase;
    color: var(--primary-white-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.footer-social-list{
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer-social-item {
    width: 44px;
    height: 44px;
}
.footer-social-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0;
    transition: background-color var(--animation);
}
.footer-social-item + .footer-social-item{
    margin-left: 10px;
}
.footer-social-icon{
    fill: var(--primary-white-color);
}
.footer-social-link:hover,
.footer-social-link:focus{
    background-color: var(--accent-color);
}
.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon{
    fill: var(--primary-white-color);
}


.footer-form-field{
    display: flex;
}
.footer-form{
    width: 570px;
    height: 86px;
}
.footer-block{
    display: flex;
    justify-content: space-between;
}
.footer-form-tittle{
    margin-bottom: 20px;
    
    text-transform: uppercase;
    color: var(--primary-white-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.footer-form-email{
    width: 358px;
    height: 50px;

    font-family: Roboto;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: var(--footer-form-email-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: 0%;
    outline: none;
    transition: border var(--animation);
    padding-left: 16px;
}
.footer-form-email::placeholder{
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: var(--footer-form-email-color);
    
}
.footer-form-email:focus,
.footer-form-email:hover{
    border: 1px solid var(--accent-color);

}
.footer-form-btn{
    width: 200px;
    height: 50px; 
    background-color: var(--accent-color); 
    color: var(--primary-white-color); 

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    transition: background var(--animation)
}
.footer-form-btn:hover,
.footer-form-btn:focus{
    /* border: 1px solid var(--accent-color); */
    background: var(--footer-form-btn-hover);

}
.footer-form-icon{
    margin-left: 10px;
}


/* ---------МОДАЛКА----------- */
.backdrop{
    width: 100vw;
    height: 100vh;
    background-color: var(--modal);
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity var(--animation),
    visibility var(--animation);
}

.modal{
    box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;

    width: 528px;
    min-height: 500px;
    background-color: var(--primary-white-color);
    position: absolute;
    top:50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    padding: 40px;
}
.close-icon{
    transition: fill var(--animation);
}

.close-icon:hover,
.close-icon:focus{
    fill: var(--accent-color);
}
.modal-close{
    position: absolute;
    top:14px;
    right:14px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #0000001A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal-tittle{
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

    color: var(--tittle-text-color);
}

/* ------------ФОРМА------------- */

/* .form{
    padding: 40px;
} */
.form-field{
    /* display: flex; */
    flex-direction: column;
    margin-bottom: 10px;
    
}
.last{
    margin-bottom: 20px;
    
}
.form-field input{
    width: 100%;
    height: 40px;
    border: 1px solid #21212133;
    
    border-radius: 4px;
}
.form-comment{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    transition: border-color var(--animation);
}
.form-comment:focus,
.form-comment:hover{
    border-color: var(--accent-color);
    
} 
.form-label{
    font-size: 12px;
    margin-bottom: 4px;
    letter-spacing:  0.01em;
}
.input-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill var(--animation);
    
}
.form-input{
    outline: none;
    padding-left:42px;
    transition: border-color var(--animation);
    
}
.modal-input-wrap{
    position: relative;
} 
.form-input:focus,
.form-input:hover {
    border-color: var(--accent-color);
    
} 
.form-input:focus + .input-icon,
.form-input:hover + .input-icon {
    fill: var(--accent-color);
}
.form-comment{
    outline: none;
    display: block;
    width: 100%;
}
.form-comment::placeholder{
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}
/* .modal-check:focus,
.modal-check:hover{
    border-color: var(--accent-color);
} */
.modal-check-text{
    font-family: Roboto;
    font-size: 14px;  
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.modal-check-text span{
    width: 16px;
    height: 15px;
    border: 3px solid var(--tittle-text-color);
    margin-right: 8px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    transition: border-color var(--animation);
}
.check-icon{
    fill: var(--primary-white-color);
}
.modal-check:checked + .modal-check-text span {
    background-color: var(--accent-color);
    border: none;
} 
.modal-check-text span:hover,
.modal-check-text span:focus{
    border-color: var(--accent-color);
}


/* .modal-check-text::before{
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid var(--tittle-text-color);
    margin-right: 8px;
    display: block;
    border-radius: 3px;
}
.modal-check:checked + .modal-check-text::before {
    background-image: url(../images/check.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
} */
.form-checkbox-policy{
    margin-bottom: 30px;
}

.form-link{
   color: var(--accent-color); 
   margin-left: 5px;
}
.form-btn{
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;  
    letter-spacing: 0.06em; 
    transition: background var(--animation); 
}
.form-btn:hover,
.form-btn:focus{
    background: var(--footer-form-btn-hover);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; */
}

